<div class="row-fluid">
    <div class="span12">
        <p>
            <button class="btn btn-success" ng-click="runYeomanSub('page')">add page</button>
            <button class="btn" data-tasks="common" ng-click="grunt.run($event);">build common</button>
        </p>

    </div>
</div>


<div class="row-fluid">
    <div class="span6">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>
                    <input type="text" class="input-medium search-query" ng-model="pageQuery" placeholder="Pages" >
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="page.checked && 'success'" ng-repeat="page in app.pages | filter:pageQuery" ng-click="page.checked=!page.checked">
                <td>
                    <strong>{{page.name}}</strong> <span class="badge">{{page.version}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="span6">
        <h3>Step1. Choose pages to build</h3>
        <div ng-show="!(app.pages | filter:{checked: true}).length">
            Please Choose frome Left!
        </div>
        <ul>
            <li ng-repeat="page in app.pages | filter:{checked: true}">
                <span>{{page.name}} / {{page.version}}</span>
                <a class="link" href="#" ng-click="$event.preventDefault();page.checked = false;">remove</a>
            </li>
        </ul>
        <h3>Step2. Timestamp to Build</h3>
        <input type="text" ng-model='app.cache.timestamp' placeholder="timestamp"/>

        <h3>Step3. OK, Le's Go</h3>
        <div class="form form-inline">
            <div class="btn-group">
                <button
                        ng-disabled="!app.cache.timestamp || !(app.pages | filter:{checked:true}).length"
                        data-tasks="page"
                        data-attrs="target={{app.pages | filter:{checked:true} | joinPages}}&ts={{app.cache.timestamp}}"
                        ng-click="grunt.run($event)"
                        class="btn btn-primary">Build</button>
                <button
                        ng-disabled="!app.cache.timestamp || !(app.pages | filter:{checked:true}).length"
                        data-tasks="watch"
                        data-attrs="target={{app.pages | filter:{checked:true} | joinPages}}&ts={{app.cache.timestamp}}"
                        ng-click="grunt.run($event)"
                        class="btn">
                    Watch
                </button>
            </div>
        </div>
    </div>
</div>